.form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: all var(--transition-fast);
}

.form-input:focus {
  border-color: var(--text-primary);
  outline: none;
}

[data-theme='dark'] .form-input:focus {
  border-color: var(--text-inverse);
}

.input-error {
  border-color: var(--error-color);
}

.error-text {
  color: var(--error-color);
  font-size: 0.8rem;
  margin-top: 0.25rem;
}
